@import 'var';
@import 'mixin';
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600;700;800&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body 
{
    font-family: 'Mukta', sans-serif;
}
header 
{
.logo 
{
    width: 330px;
}
p 
{
    line-height: 16px;
}
}
nav 
{
    background: $bg1;
    margin: 10px 0;
    line-height: 45px;
    position: sticky;
    top: 0;
    ul 
    {
        list-style: none;
        li 
        {
            display: inline;
            a 
            {
                text-decoration: none;
                color: #fff;
                padding: 15px;
            }
        }
    }
}
.banner
{
    border-bottom: 2px solid $bg1;
    padding-bottom: 10px;
    h1 
    {
        font-size: 53px;
        a 
        {
            color: $bg1;
            text-decoration: none;
        }
    }
}
.ads 
{
    margin: 15px 0;
    img 
    {
        width: 100%;
    }
}
.main
{
    font-weight: bold;
    &__left 
    {
        flex-basis: 390px;
    }
    
    @include flex(space-between);
    &__mid 
    {
        flex-basis: 600px;
        h2 
        {
            font-size: 45px;
        }
       img 
       {
           width: 90%;
       }
    }
}


@media(max-width: 780px)
{
    .main{ flex-direction: column; align-items: flex-start;}
    .main__mid, .main__left{ flex-basis: auto;}
}
@media(max-width: 500px)
{
    .container{ padding: 15px;}
    .banner h1 { font-size: 22px;}
    .main{ flex-direction: column; align-items: flex-start;}
   
}